.shop{

}
.categories{
    background-color: #192b3e;
}
.shop .card{
    background-color: #192b3e;
    color:#ffffff;
}
.shop .card:hover{
    transform: translateY(-3px);
    cursor: pointer;
}
.shop .product-lists{
    background-color: #0f2031;
    width: 100%;
    height: 100%;
    box-shadow: 0 .125rem .25rem rgba(0,0,0,.075) inset;
}
.shop .product-lists .card{
    width: 14rem;
    margin-right: 10px;
    margin-bottom: 1rem;
    color:#c6d3e7;
}
.shop .product-lists-container{
    height: 530px;
    overflow-y: scroll;
}
.shop .product-lists-container::-webkit-scrollbar {
    display: none;
}
.shop .categories{
    
}
.shop .categories ul{
    padding: 2.5rem;
}
.shop .categories ul li{
    margin-bottom: 1.5rem;
    cursor: pointer;
    transition: all .3s;
}
.shop .categories ul li {
    color:#fff ;
}
.shop .categories ul li:hover{
    color: #fb6340;
}
.shop .categories ul li i{
    margin-right: 10px;
}
.shop .categories ul li.active{
    color: #fff;
    padding-bottom: .5rem;
    border-bottom: 2px solid #eaeaea;
    box-shadow: 0 1rem 1rem rgba(0,0,0,.075);
}
