@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Roboto:wght@300;400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500&family=Square+Peg&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-seri
}
h1 {
    display: block;
    font-size: 4rem;
  
    font-weight: bold;
}
h3{
    font-size: 2.4rem;
}
a{
    text-decoration: none;
}
ul{

}
li{
    list-style: none;
}
.w-20{
    width: 20%;
}
.w-30{
    width: 30%;
}
.w-50{
    width: 50%;
}
.w-70{
    width: 70%;
}
nav{
    width: 100%;
    background-color: #192b3e;
    box-shadow: 0 1rem 1rem rgba(0,0,0,.075);
    position: sticky;
    top:0;
    left: 0;
    z-index: 1000;
}
section{
    height: 100vh;
}
.d-flex{
    display: flex;
   
}
.flex-wrap{
    flex-wrap: wrap;
}
.justify-content-between{
    justify-content: space-between;
}
.align-items-center{
    align-items: center;
}
.align-items-top{
    align-items: flex-start;
}
.container{
    width: 90%;
    margin: 0px auto;
}
.p-2{
    padding: .5rem;
}
.p-3{
    padding: .8rem;
}
.p-4{
    padding: 1rem;
}
.mt-3{
    margin-top: 30px;
}
.mt-4{
    margin-top: 40px;
}
.mt-2{
    margin-top: 20px;
}
.mt-1{
    margin-top: 10px;
}
.btn{
    padding: .5rem 1rem;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}
.btn-block{
    width: 100%;
}
.btn-sm{
    transition: all .5s;
    padding: .5rem .6rem !important;
}
.btn.btn-danger{
    background-color: crimson;
    color: #fff;
}
.btn.btn-primary{
    background-color: #fb6340;
    color: #fff;
    transition: all .5s;
}
.btn.btn-primary:hover,
.btn.btn-sm.btn-primary:hover
{
    border: 1px solid #e6c073 ;
    color: #000;
    background-color: #fff;
}
.alert{
    padding: .5rem;
}
.alert.alert-danger{
    background-color: #df5e5e;
    color:#fff;
    border-radius: 4px;
    text-align: center  ;
}
input,textarea{
    margin-top: .4rem;
    width: 100%;
    padding: .4rem;
    border-radius: 15px;
}
.form-group{
    margin-bottom: 1rem;
}
.section-title{
    font-weight: normal;
    border-bottom:1px solid #575151 ;
    width: 300px;
    margin: 0px auto;
    padding-bottom: .6rem;
}
.text-center{
    text-align: center;
}
.card{
    background-color:#192b3e;
    box-shadow: 0 1rem 1rem rgba(0,0,0,.075);
    padding: 1rem;
    border-radius: 10px;
    cursor: pointer;
}
/* navigation */
.nav-container{
    position: relative;
}
nav .logo{
    width: 40px;
    height: 40px;
    border-radius: 100%;
}
nav .nav-container{
    padding: .5rem;
}
nav .cart{
    position: relative;

}
nav .cart .cart-count{
    position: absolute;
    top: -20px;
    right: -12px;
    background-color: #fb6340;
    border-radius: 50%;
    padding: .2rem .3rem;
    color:#fff;
}
li.nav-item{
    list-style: none;
    display: inline;
    margin-left: 1rem;

}
li.nav-item .nav-link{
    color: #ffffff;
    font-size: 0.9rem;
}
li.nav-item .nav-link.active{
    border-bottom: 2px solid #f5f5f5;
    padding-bottom:.6rem;
}
li.userBtn{
    background-color: #5e72e4;
    padding: .3rem .3rem .3rem 1.3rem;
    border-radius: 3px;
}
.incorrect{
    display: none;
}
.logout{
    position: absolute;
    top: 55px;
    right: 30px;
    background-color: #fff;
    padding: .4rem 1rem;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    display: none;
}
/* //banner */
.banner{
    /* background-color: #e6c073; */
    background-image: url("https://rondiplomatico.com/wp-content/themes/rondiplomatico/dist/images/homeSection1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}
.banner .text-container{
    position: absolute;
    right: 50px;
    bottom: 200px;
    width: 400px;
    color: #fff;
}
.banner .text-container p{
    font-weight: normal;
    margin-top: 1rem;
    letter-spacing: 1px;
    font-size: 1.5rem !important;
    font-family: 'Square Peg', cursive;
}
.banner .text-center h3{
    
}
.banner button{
    
}
.banner img{
   
}
.liquor-title{
    font-weight: 400;
    font-family: 'Dancing Script', cursive;
}
.banner-para{
    margin-top: 1rem;
    color: #bfafaf;
}

/* feature-products */
.feature-products{
   
    height: 100vh;
    padding: 1rem;
}
.feature-products .price{
    font-size: .9rem;
    color: #575151;
   
}
.feature-products .card{
    transition: all .5s;
}
.feature-products .card:hover{
    transform: scale(1.02);
    cursor: pointer;
}
/* footer */
footer{
    background-color: #192b3e;
    color:#c6d3e7;
}
footer a{
    color: #fb6340;
}